body {
  background-image: url("../images/cloudy.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 1000%;
  background-color: none;
}

.icon{
  position: absolute;
  left: 200px;
  top: 150px;
}

.temp{
  font-size: 50px;
  position: absolute;
    left: 200px;
    top: 22px;
}

.celcius{
font-size: 20px;
  position: absolute;
  left: 270px;
  top: 35px;
}

.info {
  font-size: 20px;
    position: absolute;
    left: 900px;
    top: 185px;
}

.weather-forecast{
  position: absolute;
    top: 500px;
    left: 400px;
    text-align: center;
    font-size: 18px;
    color: #D0D0D7;
}

.city {
  position: absolute;
    left: 250px;
    top: 330px;
    
}

.time {
    position: absolute;
      left: 400px;
      top: 250px;
      l
}

.creator{
position: absolute;
left: 900px;
  top: 600px;
}

.search-form {
  justify-content: center;
    position: sticky;
    top: 0;
    display: flex;
    margin: 20px 50px;
    font-size: 16px;
    
}

footer {
  color: rgba(39, 33, 66, .4);
  font-size: 15px;
  line-height: 18px;
  margin-top: 40px;
  
  position: absolute;
  top: 600px;
  left: 250px;
  text-align: center;
}