.search-button {
    justify-content: center;
    position: sticky;
    top: 0;
    display: flex;
    margin: 20px 50px;
    font-size: 16px;

}

.press {
    position: sticky;
    top: 0;
    float: inline-end;
    margin: -10px 100px;
    font-size: 14px;

}

.info {
    position: absolute;
    left: 350px;
    top: 105px;
    color: #D0D0D7;
}

.hours {
    position: absolute;
    left: 1050px;
    top: 140px;
    font-size: 14px;
}

.col-2 {
    position: relative;
    top: 250px;
    left: -20px;
    text-align: center;
    font-size: 18px;
    color: #D0D0D7;
}

.creator {
    position: absolute;
    top: 680px;
    left: 50px;
    font-size: 12px;
}

.temp {
    position: absolute;
    left: 190px;
    font-size: 60px;
    top: 85px;
    color: #D0D0D7;
}

h2 {
    position: absolute;
    left: 30px;
}

#city {
    position: absolute;
    left: 250px;
    top: 180px;
    font-size: 30px;
    color: #D0D0D7;
}

.celcius {
    font-size: 20px;
    position: absolute;
    left: 260px;
    top: 105px;
    color: #D0D0D7;
}

p {
    position: absolute;
    top: 350px;
    font-size: 20px;
    left: 30px;
    color: #D0D0D7;
}

#time {
    position: absolute;
    top: 320px;
    font-size: 20px;
    left: 30px;
    color: #D0D0D7;
}

h3 {
    position: absolute;
    left: 30px;
    color: #D0D0D7;


}

.search input[type="text"] {

    width: 20rem;
    background: #212121;
    font-weight: 10px;
    font-size: 16px;
    padding: 5px;
    border: none;
    background-color: transparent;
    border: 2px solid #c2c2c2;
    border-radius: 2px;
    margin-right: 4px;
}

.search button[type="submit"] {
    border-radius: 10px;
    padding: 8px 20px;
    color: #5F4FD9;
    border: 2px solid;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 3px 3px #999;
}

.press button {
    border-radius: 20px;
    position: absolute;
    left: -300px;
    padding: 5px 10px;
    margin: auto 0;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 3px 3px #999;
}

body {
    background-image: url("images/cloudy.JPG");
    background-size: cover;
}

.mon {
    border: #8A8A8A solid 5px;
    border-radius: 15px;
    padding: 5px;
}

.tue {
    border: #8A8A8A solid 5px;
    border-radius: 15px;
    padding: 5px;
}

.wed {
    border: #8A8A8A solid 5px;
    border-radius: 15px;
    padding: 5px;
}

.thur {
    border: #8A8A8A solid 5px;
    border-radius: 15px;
    padding: 5px;
}

.fri {
    border: #8A8A8A solid 5px;
    border-radius: 15px;
    padding: 5px;
}