.icon{
  position: absolute;
  left: 200px;
  top: 150px;
}

.temp{
  font-size: 50px;
  position: absolute;
    left: 200px;
    top: 22px;
}

.celcius{
font-size: 20px;
  position: absolute;
  left: 270px;
  top: 35px;
}

.info {
  font-size: 20px;
    position: absolute;
    left: 900px;
    top: 185px;
}

.weather-forecast{
  position: absolute;
    top: 500px;
    left: 400px;
    text-align: center;
    font-size: 18px;
    color: #D0D0D7;
}

.city {
  position: absolute;
    left: 250px;
    top: 330px;
    
}

.time {
    position: absolute;
      left: 400px;
      top: 250px;
      l
}

.search-bar .search-input {
  height: 30px;
  width: 500px;
  background: #f9f7fe;
    border: none;
    border-radius: 6px;
    color: rgba(39, 33, 66, .4);
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    padding: 20px 20px;
}

.search-form {

  position: absolute;
  top: 80px;
  left: 250px;
  display: flex;

  font-size: 16px;
}

.btn-primary {
  position: absolute;
  left: 900px;
  top: 78px;
  height: 40px;
  width: 100px;
  padding: 20px 20px;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;

}




footer {
  color: rgba(39, 33, 66, .4);
  font-size: 15px;
  line-height: 18px;
  margin-top: 40px;
  
  position: absolute;
  top: 600px;
  left: 250px;
  text-align: center;
}